<!DOCTYPE html>
<html>
<head>
    <title>Generative Art App</title>
    <link rel="icon" type="image/x-icon" href="static/icon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <img id = "logo" src="static/logo.png" alt="logo.png">

    <div class="container">
        <!-- Formulario para subir la imagen y guardar en la carpeta "uploads", la función está en la "webApp de Flask" -->
        <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form" onsubmit="showSpinner()">
            <button type="submit" class="submit-btn">
                <img id="continue" src="/static/continue.png" alt=">>">
            </button>
            <div class="button-container">
                <label for="image" class="custom-file-label">
                    Seleccionar archivo <br><br>
                    <img id="loadImg" src="static/loadImg.png" alt="loadImg">
                </label>
                <input type="file" id="image" name="image" accept="image/*" class="file-input" onchange="showFileName()">
            </div>
            
        </form>
    
        <div id="image-preview">
            <!-- Aquí se muestra el spinner -->
            <div id="spinner" class="spinner hidden"></div>
    
            <!-- Aquí se muestra la imagen -->
            {% if filename %}
                <img src="{{ url_for('static', filename='generated_images/' + filename) }}" alt="Error, no image..." id="preview-image" class="animated show">
            {% endif %}
        </div>
    </div>
    

    <section class="info">
        <article>
            <img src="" alt="">
            <p>El arte generativo es una forma de expresión artística en la que se 
                utilizan sistemas o algoritmos computacionales para generar obras de arte. 
                En lugar de ser creadas directamente por un artista humano, estas obras se 
                generan a través de procesos automáticos o semi-automáticos, donde se establecen 
                reglas, parámetros o algoritmos que determinan cómo se desarrolla la obra.
            </p>
        </article>

        <article>
            <img src="" alt="">
            <p>RandomFilterGen es un sistema basado en arte generativo que emplea algoritmos y 
                parámetros aleatorios para aplicar filtros a las imágenes, generando resultados 
                únicos en cada iteración. Esta herramienta te permite explorar la creatividad a 
                través de la personalización de los parámetros y experimentar con una amplia variedad 
                de filtros generativos. Descubre la belleza del arte en lo impredecible y transforma 
                tus imágenes en obras de arte auténticas y sorprendentes.
            </p>
        </article>

       

    </section>

    <footer>
        <p>Creado por:</p>
        <li>
            <ul>
                Juan Manuel Barajas Gomez
            </ul>
            <ul>
                Lisseth Abigail Martínez Castillo
            </ul>
            <ul>
                Jonathan Medina Herrera
            </ul>
        </li>
    </footer>
</body>
</html> 