<!DOCTYPE html>
<html>
<head>
    <title>Generative Art App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Generative Art App</h1>

    <div class="container">
        <!-- Formulario para subir la imagen y guardar en la carpeta "uploads", la función está en la "webApp de Flask" -->
        <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="image">Cargar imagen</label>
            <input type="file" id="image" name="image" accept="image/*" class="file-input">
            <input type="submit" value="Cargar" class="submit-btn">
        </form>
    
        <div id="image-preview">
            <!-- Aquí se muestra la imagen -->
            <!-- <img src="static/uploads/metallica.jpeg" alt="no image..."> -->
            {% if filename %}
            <img src="{{ url_for('static', filename='generated_images/' + filename) }}"alt="Error, no image...">
            {% endif %}
        </div>
        <!--debugger-->
        <!-- <img src="{{ url_for('static', filename='/uploads/example.jpg') }}"> -->
    </div>

    <div class="info">
        <p>El arte generativo es una forma de expresión artística en la que se 
            utilizan sistemas o algoritmos computacionales para generar obras de arte. 
            En lugar de ser creadas directamente por un artista humano, estas obras se 
            generan a través de procesos automáticos o semi-automáticos, donde se establecen 
            reglas, parámetros o algoritmos que determinan cómo se desarrolla la obra.
            <br><br>
            RandomFilterGen es un sistema basado en arte generativo que emplea algoritmos y 
            parámetros aleatorios para aplicar filtros a las imágenes, generando resultados 
            únicos en cada iteración. Esta herramienta te permite explorar la creatividad a 
            través de la personalización de los parámetros y experimentar con una amplia variedad 
            de filtros generativos. Descubre la belleza del arte en lo impredecible y transforma 
            tus imágenes en obras de arte auténticas y sorprendentes.
        </p>
    </div>

    <footer>
        <p>Creado por:</p>
        <li>
            <ul>
                Juan Manuel Barajas Gomez
            </ul>
            <ul>
                Lisseth Abigail Martínez Castillo
            </ul>
            <ul>
                Jonathan Medina Herrera
            </ul>
        </li>
    </footer>
</body>
</html> 